@using Ouvidoria.Domain.Enums
@using Ouvidoria.Web.ViewModels.Registro;
@model AdminRegistroFormViewModel

<div class="row h-100">
    <div class="d-flex py-5">
        <div class="col-6">
            <hgroup>
                <h2>Autor</h2>
                <p>@if(Model.Autor is not null){
                    @Model.Autor.Nome
                                        }
                                        else
                    {
                        @:Autor preferiu não se identificar
                    }
                </p>
            </hgroup>

            <hgroup>
                <h2>Título</h2>
                <p>@Model.Titulo</p>
            </hgroup>

            <hgroup>
                <h2>Detalhes</h2>
                <p style="text-align:justify">@Model.Descricao</p>
            </hgroup>


            @if (Model.TemArquivo)
            {
                <hgroup>
                    <h2>Anexo:</h2>
                    <a class="btn btn-secondary" href="/Registro/DownloadArquivo/@Model.Id">Baixar arquivo</a>
                </hgroup>
            }
        </div>
        @if (!(Model.Status is "Concluido" or "Cancelado"))
        {
            <partial name="NovoHistoricoRegistroFormPartialView" model=@Model.NovoRegistro />
        }
    </div>
    <div class="align-self-end">
        <h1 class="text-black text-center">Histórico de atualizações</h1>
        <div class="table-responsive">
            <table class="table table-secondary">
                <thead>
                    <tr>
                        <th scope="col">Data de atualização</th>
                        <th scope="col">Status</th>
                        <th scope="col">Feedback</th>
                    </tr>
                </thead>
                <tbody>


                    @if (Model.HistoricosAntigos.Count() > 0)
                    {
                        foreach (HistoricoRegistroViewModel hr in Model.HistoricosAntigos)
                        {
                            <tr class="">
                                <td scope="row">@hr.DataAtualizacao</td>
                                <td>@hr.Status</td>
                                <td>@hr.Feedback</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <h1 class="row table_row justify-content-center">Não há registros</h1>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>