@using Ouvidoria.Web.ViewModels.Registro
@model IEnumerable<RegistroViewModel>
@{
    string ValorPesquisa = ViewContext.HttpContext.Request.Query["tituloPesquisa"].ToString() ?? "";
}
<div class="row justify-content-center">
    <div class="col-11 col-sm-8">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Registros</h1>
            <a asp-controller="Registro" asp-action="CriarRegistro"><img width=24 height=24
                    src="~/svg/plus-solid.svg" /></a>
        </div>
        <div>
            <form method="GET" asp-action="Registros" class="d-flex gap-3">
                <input value="@ValorPesquisa" id="tituloPesquisa" name="tituloPesquisa"
                    class="col border-1 rounded-4 py-1 ps-2" style="background-color: #F0F2F5"
                    placeholder="&#128270; Pesquisar" type="text">
                <a class="botao verde" asp-action="Registros" type="button">Limpar filtro</a>
            </form>
        </div>



        <div class="lista-registros mt-4">
            @if (Model.Any())
            {
                foreach (var rm in Model)
                {
                    int dias = (DateTime.Now - rm.DataAtualizacao).Days;
                    string dataPercorrida = dias < 1 ? "Há menos de 1 dia" :
                    dias < 30 ? $"Há {dias} dias" :
                    dias < 60 ? $"Há cerca de {dias / 30} mês" :
                    $"Há cerca de {dias / 30} meses";

                    <a onclick="AbrirModal(@rm.Id)" class="registro-item text-decoration-none">
                        <div class="registro-icon">
                            <img width=40 height=40 src="~/svg/file-plus.svg" />
                        </div>
                        <div class="registro-info">
                            <strong>@rm.Titulo</strong>
                            <p class="registro-tipo">@rm.TipoRegistro</p>
                        </div>
                        <div class="registro-data">
                            <span>@dataPercorrida</span>
                        </div>
                    </a>
                }
            }
            else
            {
                <h4 class="text-center mt-4">Nenhum registro encontrado.</h4>
            }
        </div>

    </div>
</div>

<partial name="_RegistroDetalheModal" />

@section Scripts {
    <script>

        async function AbrirModal(id) {
            let dados = await ObterDados(id)
            document.getElementById("modalTitleId").innerText = dados.titulo
            document.getElementById("modalDescricaoText").innerText = dados.descricao
            if (dados.temArquivo) {
                document.getElementById("modalArquivo").innerHTML = `
                                <hgroup>
                                    <h4>Anexo:</h4>
                                    <a class="btn btn-secondary" href="/Registro/DownloadArquivo/${dados.id}">Baixar arquivo</a>
                                </hgroup>
                        `
            }
            let tableBody = document.getElementById("modalTableBody")
            let rowContainer = ""
            dados.historicosAntigos.forEach(element => {
                rowContainer +=
                    `<tr>
                                    <td class="text-start">${element.dataAtualizacaoExibicao}</td>
                                    <td class="text-start">${element.status}</td>
                                    <td class="text-start">${element.feedback}</td>
                                </tr>`
            })
            tableBody.innerHTML = rowContainer
            const htmlModal = document.getElementById("modalId")
            htmlModal.addEventListener("hidden.bs.modal", () => {
                document.getElementById("modalTitleId").innerText = ""
                document.getElementById("modalDescricaoText").innerText = ""
                document.getElementById("modalTableBody").innerHTML = ''
            })
            const bootstrapModal = new bootstrap.Modal(htmlModal)
            bootstrapModal.toggle()

        }
        async function ObterDados(id) {
            const data = await fetch(`/Cidadao/Registro/${id}`, {
                method: "GET"
            })
            const res = await data.json()
            console.log(res)
            return res
        }


    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/style_2.css">
    <link rel="stylesheet" href="~/css/table.css">
}