@using Ouvidoria.Web.ViewModels.Usuario
@model RegistrarCidadaoViewModel
<section class="cadastro">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <form asp-action="RegistrarCidadao" class="px-2 py-5 px-sm-5 bg-light rounded-3">
                    <h2 class="text-dark text-center mb-3">Registre-se</h2>
                    <div class="col-12 mb-3 email">
                        <p class="mb-0">
                            <label class="form-label" asp-for="@Model.Email"><span>Email: </span></label>
                        </p>
                        <input class="form-control" type="text" asp-for=@Model.Email>
                        @* <span class="text-danger form-text" asp-validation-for="@Model.Email"></span> *@
                    </div>
                    <div class="col-12 mb-3 name">
                        <p class="mb-0">
                            <label class="form-label" asp-for="@Model.UserName"><span>Nome de usuário: </span></label>
                        </p>
                        <input class="form-control" type="text" asp-for=@Model.UserName>
                        @* <span class="text-danger form-text" asp-validation-for="@Model.Name"></span> *@
                    </div>
                    <div class="col-12 mb-3 password d-flex flex-column flex-sm-row gap-3">
                        <div class="w-100">
                            <p class="mb-0">
                                <label class="form-label" asp-for="@Model.Password"><span>Senha: </span></label>
                            </p>
                            <input class="form-control" type="password" asp-for=@Model.Password>
                            @* <span class="text-danger form-text" asp-validation-for="@Model.Password"></span> *@
                        </div>
                        <div class="w-100">
                            <p class="mb-0">
                                <label class="form-label" asp-for="@Model.ConfirmPassword"><span>Confirme sua Senha:
                                    </span></label>
                            </p>
                            <input class="form-control" type="password" asp-for=@Model.ConfirmPassword>
                            @* <span class="text-danger form-text" asp-validation-for="@Model.ConfirmPassword"></span> *@
                        </div>
                         <div class="w-100">
                            <p class="mb-0">
                                <label class="form-label" asp-for="@Model.Telefone"><span>Telefone:</span></label>
                            </p>
                            <input class="form-control" type="text" asp-for=@Model.Telefone>
                        </div>
                        <div class="w-100">
                            <p class="mb-0">
                                <label class="form-label" asp-for="@Model.Cpf"><span>CPF:</span></label>
                            </p>
                            <input class="form-control" type="text" asp-for=@Model.Cpf>
                        </div>
                        <div class="w-100">
                            <p class="mb-0">
                                <label class="form-label" asp-for="@Model.Endereco"><span>Endereço:</span></label>
                            </p>
                            <input class="form-control" type="text" asp-for=@Model.Endereco>
                        </div>
                        <div class="w-100">
                            <p class="mb-0">
                                <label class="form-label" asp-for="@Model.DataNascimento"><span>Data de nascimento:</span></label>
                            </p>
                            <input class="form-control" type="date" asp-for=@Model.DataNascimento>
                        </div>
                    </div>
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div
                        class="col-12 text-center mt-5 d-flex flex-column justify-content-center align-items-center gap-4">
                        <button type="submit" class="btn btn-primary px-5" title="Continue">Confirmar</button>
                        @* <p>Já tem uma conta? <a asp-action="Login" asp-controller="Account">Login</a>. </p> *@
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>