@using Ouvidoria.Web.ViewModels.Usuario
@model RegistrarCidadaoViewModel
<section class="cadastro">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <form asp-action="RegistrarCidadao" class="px-2 py-5 px-sm-5 bg-light rounded-3">
                    <h2 class="text-dark text-center mb-3">Registre-se</h2>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label" asp-for="@Model.Password">Senha:</label>
                            <input class="form-control" type="password" asp-for="@Model.Password">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" asp-for="@Model.ConfirmPassword">Confirme sua Senha:</label>
                            <input class="form-control" type="password" asp-for="@Model.ConfirmPassword">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" asp-for="@Model.Telefone">Telefone:</label>
                            <input class="form-control" type="text" asp-for="@Model.Telefone">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" asp-for="@Model.Cpf">CPF:</label>
                            <input class="form-control" type="text" asp-for="@Model.Cpf">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" asp-for="@Model.Endereco">Endereço:</label>
                            <input class="form-control" type="text" asp-for="@Model.Endereco">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" asp-for="@Model.DataNascimento">Data de nascimento:</label>
                            <input class="form-control" type="date" asp-for="@Model.DataNascimento">
                        </div>
                    </div>

                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div
                        class="col-12 text-center mt-5 d-flex flex-column justify-content-center align-items-center gap-4">
                        <button type="submit" class="botao verde" title="Continue">Confirmar</button>
                        @* <p>Já tem uma conta? <a asp-action="Login" asp-controller="Account">Login</a>. </p> *@
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>