@using Ouvidoria.Infrastructure.Data.Account
@{
    ViewData["Title"] = "Sistema de Ouvidoria";
    string title = ViewData["Title"]?.ToString() ?? string.Empty;
    if (ViewData["Subtitle"] is not null)
    {
        title = $"{title} - {ViewData["Subtitle"]}";
    }

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <title>@title</title>
    @await RenderSectionAsync("Imports", required: false)
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>

    @if (User.IsInRole(ApplicationUser.TipoAdministrador))
    {
        <partial name="Layout/_SiteAdminNav" />
    }
    else if (User.IsInRole(ApplicationUser.TipoCidadao))
    {
        <partial name="Layout/_SiteCidadaoNav" />
    }
    else
    {
        <partial name="Layout/_SiteNav" />
    }
    <partial name="_SuccessMessagePartialView.cshtml" model="@ViewBag.SuccessMessage" />
    <partial name="_ErrorMessagePartialView.cshtml" model="@ViewBag.ErrorMessage" />
    <main class="h-100" style="@(User.Identity.IsAuthenticated?"padding-top:0;":"")">
        <div class="container h-100">
            @RenderBody()

        </div>
    </main>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Utils/errorAndSuccesModals.js"></script>
</body>

</html>