@* @{
    ViewData["Subtitle"] = "Regitro";
}  *@
@using Ouvidoria.Web.ViewModels.Registro
@model RegistroFormViewModel;

<form method="POST" asp-action="Registro" enctype="multipart/form-data"
    class="h-100 row align-items-center justify-content-center">
    <hgroup class="text-center">
        <h2>Enviar Denúncia</h2>
        <p>Digite abaixo a sua denuncia</p>
    </hgroup>

    <div class="d-flex flex-column col-8">
        <div class="col-12 mb-3 form-group">
            <label for="">Título de Denúncia</label>
            <input type="text" asp-for=@Model.Titulo class="form-control" placeholder="" />
            <span class="text-danger form-text" asp-validation-for="@Model.Titulo"></span>
        </div>
        <div class="d-flex col-12 gap-2">
            <div class="w-100 mb-3 form-group">
                <label for="" class="form-label">Natureza</label>
                <select class="form-select" asp-for=@Model.TipoRegistro asp-items=@Model.TipoRegistroList>
                    <option value="">Escolha a</option>
                </select>
                <span class="text-danger form-text" asp-validation-for="@Model.TipoRegistro"></span>
            </div>
            <div class="w-100 mb-3 form-group">
                <label for="" class="form-label">Tipo</label>
                <input class="form-control" type="text" asp-for=@Model.Tipo />
                <span class="text-danger form-text" asp-validation-for="@Model.Tipo"></span>
            </div>
        </div>
        <div class="col-12 mb-3 form-group">
            <label for="" class="form-label">Descrição</label>
            <textarea class="form-control" rows="7" asp-for=@Model.Descricao></textarea>
            <span class="text-danger form-text" asp-validation-for="@Model.Descricao"></span>
        </div>
    </div>
    <div class="col-8">
        <div onclick="document.querySelector('#Arquivo_Image').click()" class="d-flex align-items-center">
            <img id="arquivosImg" width="50px" height="50px" src="~/svg/file-plus.svg" alt="">
            <hgroup>
                <h5 id="h5FileName">
                    @if (!string.IsNullOrWhiteSpace(Model.Arquivo?.ImageName))
                    {
                        @Model.Arquivo?.ImageName
                    }
                    else
                    {
                        @:Inserir anexo
                    }
                </h5>
                <span id="spanFileDescription">
                    @if (string.IsNullOrWhiteSpace(Model.Arquivo?.ImageName))
                    {
                        @:Caso possua vários arquivos, junte-os em um único arquivo para enviar o anexo
                    }
                    else
                    {

                    }
                </span>
            </hgroup>
            <input type="file" class="visually-hidden" accept=".jpg, .jpeg, .pdf, .png, .webp, .docx, .odt" asp-for=@Model.Arquivo!.Image
                onchange=changeSvgAndFileName(this)>

        </div>
        <span class="text-danger form-text" asp-validation-for="@Model.Arquivo"></span>

    </div>
    <div class="col-12 d-flex justify-content-center py-3">
        <button type="submit" class="botao verde">Enviar
    </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/"></script>
    <script>
        function changeSvgAndFileName(element) {
            if (element.files.length === 0) {
                document.getElementById('arquivosImg').src = '/svg/file-plus.svg';

            }
            else {
                document.getElementById('arquivosImg').src = '/svg/file-check.svg'
                console.log(element.files)
                document.getElementById('h5FileName').innerText = element.files[0].name
                document.getElementById('spanFileDescription').innerText = ""
            }
        }
    </script>
}